
  <div class="content p-1">
    <main>
      <div class="main-content-section">
        <div class="container-fluid">
            <div class="row  main-heading-section border-bottom ">
                <div class="col-md-12 ">
                    <div class="form-inline float-right">
                    <!-- <select id="inputSelect" class="form-inline form-control" >
                        
                        <option *ngFor="let service of this.translateservice.instant('Mission')" [value]="service.string_code"> {{ service.string_name | translate}} </option>
                    </select> -->
                    <select id="inputSelect" class="form-inline form-control">
                        <option selected="">Select</option>
                        <option>...</option>
                    </select>
                </div>
                    </div>  
            </div>
 
          <div class="row">
          
            <div class="col-md-3">
              <div  class="h4 vertical-scroll-title">Country List</div>
              <ul class="list-group list-group-flush vertical-scroll">
                <li class="list-group-item">India</li>
                <li class="list-group-item">Sri langa</li>
                <li class="list-group-item">Thailand</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <div class="add-more text-right py-2 pr-2">Add</div>
              </ul>
            </div>
            <div class="col-md-3">
              <div  class="h4 vertical-scroll-title">VACs</div>
              <ul class="list-group list-group-flush vertical-scroll">
                <li class="list-group-item">Chennai</li>
                <li class="list-group-item">Mumbai</li>
                <li class="list-group-item">Kolkotta</li>
                <li class="list-group-item">New Delhi</li>
                <li class="list-group-item">Bangalore</li>
                <li class="list-group-item">Hydrabad</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <div class="add-more text-right py-2 pr-2">Add</div>
              </ul>
            </div>
            <div class="col-md-3">
              <div  class="h4 vertical-scroll-title">Business Hours</div>
              <ul class="list-group list-group-flush vertical-scroll">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

